body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.background {
    background: white;
    padding: 2rem;
    max-width: 800px; /* width to center */
    margin: 0 auto; 
}

.name {
    margin: 0;
    font-size: 4rem;
    color: black;
    text-align: center;
    font-family: Cursive;
    font-weight: bold;
}

.introduction {
    margin: 0;
    font-size: 2rem;
    color: black;
    text-align: center;
    font-family: Times New Roman;
}
