body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: top;
    align-items: flex-start;
    min-height: 100vh;
}

.wrap {
    text-align: center;
}

.background {
    background: white; /* white background */
    padding: 2rem;
}

header h1 {
    margin: 0 0 1rem 0;
    font-size: 3rem;
}

.name {
    margin: 0;
    font-size: 4rem;
    color: black;
    text-align: center;
    font-family: Cursive;
}

.introduction {
    margin: 0;
    font-size: 3rem;
    color: black;
    text-align: center;
    font-family: Times New Roman;
}
